body {
   background-image:url("/images/Picture4.png");
   background-repeat: repeat;
   width: 100%;
   height:100%;
}
.container{
   margin-top:100px;
   background-color: #e68a00;
   width: 50%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   font-family:Verdana;
   font-size:20px;
   color: white;
   position: relative;
}
.fieldStyle(
   width:300px;
   height:30px;
}
.submitButton{
   position:absolute;
   bottom:0px;
   right:20px;
   width:100px;
   height: 50px;
   background-color:#595959;
   color: white;
   font-family:Verdana;
   font-size:15px;
   font-weight:bold;
}
.submitButton:hover{
   bacground-color:orange;
}
.backlink{
   position:absolute;
   top:0px;
   right:10px;
   font-size:16px;
   font-family:Verdana;
   color: #4d4d4d;
}
.dropDown{
   width:300px;
   height:30px;
   font-family:Verdana;
   font-size:15px;
}
}
   h1 {
   position: absolute;
   top: 0px;
   left:380px;
   font-family: "Kristen ITC";
   color: #404040;
   font-weight:bold;
   font-size:60px;
   }
   #logoPic{
   float:left;
   }
   #homePageLinks{
   position:absolute;
   bottom:0px;
   right:50px;
   width:21%;
   height:100px;
   background-color:#cccccc;
   }
   li {
   display: inline;
   font-family:Verdana;
   font-size:20px;
   background-color:#808080;
   padding:20px;
   }
   a {
   text-decoration:none;
   color:white;
   }
   li:hover{
   background-color:orange;
   }
